# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr

app/keys/*.key

public/admin_avatar/*
!public/admin_avatar/.gitkeep
public/article_images/*
!public/article_images/.gitkeep
public/user_avatar/*
!public/user_avatar/.gitkeep
public/video_images/*
!public/video_images/.gitkeep
public/videos/*
!public/videos/.gitkeep

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
